.profile-img {
  .image-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-column: 3;
    gap: 5px;
    img {
      width: 100%;
      transition: all 0.1s ease-in-out;
      &:hover {
        // opacity: 0.5;
        filter: brightness(70%);
      }
    }
  }
}

// .image-container {
//   display: grid;
//   grid-template-columns: repeat(3, minmax(309px, 1fr));
//   gap: 5px;
//   img {
//     width: 100%;
//     transition: all 0.1s ease-in-out;
//     &:hover {
//       // opacity: 0.5;
//       filter: brightness(70%);
//     }
//   }
// }
