.profile-img {
  .image-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 309px));
    grid-column: 3;
    gap: 5px;
    position: relative;
    .profile-like-icon {
      position: absolute;
      top: 12%;
      left: 16%;
    }
    .profile-comment-icon {
      position: absolute;
      top: 12%;
      left: 10%;
    }

    img {
      width: 100%;
      transition: all 0.1s ease-in-out;
      aspect-ratio: 1/0.8;
      object-fit: cover;
      &:hover {
        filter: brightness(70%);
      }
    }
  }
}
