header {
  position: fixed;
  width: 13em;

  .loggedin-user {
    padding: 2px 8px;
    border-radius: 1em;
    align-self: flex-end;
    span {
      padding: 4px;
      margin: 10px;
      border-radius: 50%;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0;
    margin-top: 2px;
    padding: 27px 7px;

    height: 100vh;
    width: 325px;

    border-right: 1px solid rgb(208, 212, 218);

    .links {
      display: inline-flex;
      flex-direction: column;

      margin-top: 30px;
      margin-left: -10px;

      width: 214px;

      .logo {
        position: relative;
        left: 14px;
        bottom: 30px;
        width: 50%;
      }
      img {
        width: 1.31em;
        margin-right: 15px;
        transition: transform 0.3s ease;
      }

      a {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin: 4px;
        padding: 12px;

        line-height: 8px;
        border-radius: 5px;
        color: rgb(29, 25, 25);

        &:hover {
          background-color: rgb(208, 212, 218);
          text-decoration: none;

          img {
            transform: scale(1.1);
          }
        }
      }

      .profileLink {
        img {
          border-radius: 50%;
        }
      }
    }
  }
}
