.modal {
  .modal-content-create {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto;
    grid-template-areas:
      "header"
      "content";
    width: 40vw;
    max-height: 70vh;
    background-color: white;
    position: relative;
    border-radius: 8px;
    aspect-ratio: 1 / 0.8;

    @media (max-width: 414px) {
      width: 90vw;
      max-height: 80vh;
    }
  }

  .upload-section {
    grid-area: content;
  }
  .preview-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .story-create-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    padding: 10px;

    p {
      margin: 0;
      cursor: pointer;
      color: $clr1;
      font-weight: 600;
    }

    h1 {
      margin: 0;
    }
  }
  .preview-image {
    img {
      height: 100%;
      // object-fit: contain;
      object-fit: cover;
    }
  }
  .story-create-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    border: 2px dashed #ccc;
    transition: border 0.3s;
    justify-content: center;
  }
  .upload-section .img-preview {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
  }

  .modal-content-create .drag-over {
    opacity: 0.5;
  }
}
.create-details {
  .create-input {
    margin-top: 10px;
  }
  textarea {
    text-align: start;
    word-break: break-word;
    height: 168px;
    font-family: $font1;
    width: 100%;
    font-size: 16px;
    border: none;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  .location {
    padding: 7.5px;
    font-size: 16px;
    border-top: 1px solid $clr6;
    border-bottom: 1px solid $clr6;
  }
  @media (max-width: 800px) {
    .create-input {
      margin-top: 5px;
    }
  }
}

.img-container {
  display: flex;
  background-color: whitesmoke;

  // aspect-ratio: 1;

  img {
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.upload-story-btn {
  cursor: pointer;
  p {
    margin: 0;
    padding: 8px;
    font-weight: 600;
  }
}
.input-tools {
  display: flex;
  justify-content: space-between;
  padding: 7.5px;
}
