.comment-mini-user {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  img {
    width: 2em;
    border-radius: 50%;
  }

  p {
    margin-left: 0.5em;
  }
}

.comments {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 14px;

  span {
    padding-left: 8px;
  }
}
