.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  background-color: $clr-6;

  .modal-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: white;
    max-width: 80%;
    position: relative;
    border-radius: 8px;

    .comments-section {
      display: flex;
      flex-direction: column;

      .closeModalBtn {
        display: none;
      }

      .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
      }

      .mini-user {
        width: 30px;
        border-radius: 50%;
        margin-top: 5px;
      }
    }
  }
}
