.comment-add {
  display: flex;
  align-items: center;

  input {
    flex-grow: 1;
    margin-right: 10px;
    border: none;
    // padding: 15px;
    min-width: 15px;
    height: 30px;
    &:focus {
      outline: none;
    }
  }
  p {
    color: $clr1;
    font-weight: 600;
    margin-right: 16px;
    cursor: pointer;
    margin: 0;
  }
}
