// Colors
$clr-7: #000;
$clr-6: rgba(0, 0, 0, 0.5);
$clr1: rgb(0, 149, 246);
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #e0dbdb;
$clr7: rgb(240, 240, 240);
$clr8: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
