.profile-header-stats {
  display: flex;
  flex-direction: row;
  p {
    margin: 0;
    font-size: 16px;
    span {
      font-weight: 600;
      margin-right: 4px;
    }
  }

  p:not(:first-child) {
    margin-left: 50px;
  }
}
.profile-header-username {
  margin-block-start: 20px;
  margin-bottom: 0;
  font-size: 14px;
}

.profile-header-bio {
  display: flex;
  flex-direction: column;
}
