.profile-header-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  p {
    margin: 0;
    font-size: 16px;
    span {
      font-weight: 600;
    }
  }

  p:not(:first-child) {
    margin-left: 25px;
  }
}
